.articl-info-container {
    .reset-btn {
        span {
            cursor: pointer;
            padding: 6px 15px;
            border-radius: 3px;
            background-color: rgb(218, 104, 218);
            color: #fff;
            &:hover {
                opacity: .8;
            }
        }
    }
}