/* 富文本编辑器 */
.w-e-toolbar {
	background: #fff !important;
	font-size: 15px;
}

.w-e-error {
	.w-e-text-container {
		border: 1px solid $red1 !important;
	}

	.placeholder {
		color: $red1;
	}
}

/* markdown */
.CodeMirror {
	height: 300px;
}

.markdown-error {
	.CodeMirror {
		border: 2px solid $red2;
	}

	.CodeMirror-placeholder {
		font-weight: bold;
		color: $red1;
	}
}