.w-e-toolbar {
    border: none !important;
    background: #fff !important;
    padding: 4px;
    font-size: 15px;
}

// 富文本编辑器 编辑区域的高度
.w-e-text-container {
    height: 600px !important;
    border: none !important;
}