.w-e-toolbar {
	border-top: none !important;
	background: #fff !important;
	padding: 4px;
	font-size: 15px;
	height: 40px;
}

// 富文本编辑器 编辑区域的高度
.w-e-text-container {
	height: 600px !important;
	// border: none !important;
}

.w-e-error {
	.w-e-text-container {
		border: 2px solid $red1 !important;
		.placeholder {
			left: 0;
			top: 0;
		}
	}
}
