.wrapper {
    margin-top: 100px;

    .override-ant-layout-sider {
        position: relative;
        min-height: 100vh;
        height: 100%;

        .ant-menu-inline {
            border: none;
        }

        // 祛除在折叠状态下，hover图标时在右侧显示的子菜单项，同时解决了图标右侧出现的1px白色间隙bug
        .ant-menu-inline-collapsed {
            width: 0;
        }

        // 自定义菜单栏某些状态下的字体样式
        .ant-menu-item:hover,
        .ant-menu-item-active,
        .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
        .ant-menu-submenu-active,
        .ant-menu-submenu-title:hover,
        .ant-menu-item-selected,
        .ant-menu-submenu-selected,
        .ant-menu-item a:hover {
            color: $purple4;
        }

        // 去除菜单子项被点击时的背景颜色
        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: #fff;
        }

        // 去除菜单子项右侧边框
        .ant-menu-inline .ant-menu-selected::after,
        .ant-menu-inline .ant-menu-item-selected::after {
            opacity: 0;
        }

        .ant-menu-inline .ant-menu-item,
        .ant-menu-inline .ant-menu-submenu-title {
            width: 100%;
        }

        // 自定义折叠容器的位置
        .ant-layout-sider-trigger {
            position: absolute;
            width: 40px !important;
            height: 40px;
            line-height: 40px;
            border-radius: 0 50% 50% 0;
            left: 100%;
            top: 40%;
            border-right: 1px solid $purple2;
            transform: translate(-60%, 50%);

            span {
                margin-left: 15px;
            }

            &:hover {
                color: $purple5;
            }
        }

        // 当菜单栏被折叠时，隐藏所有图标
        .ant-menu-item,
        .ant-menu-submenu-title,
        .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
            padding: 0;
        }
    }
}