// 1-6由浅变深
// 紫色系列
$purple1: #f9f0ff;
$purple2: #efdbff;
$purple3: #d3adf7;
$purple4: #b37feb;
$purple5: #9254de;
$purple6: #722ed1;
$purple7: #531dab;
// 蔚蓝色系列
$blue1: #E6F7FF;
$blue2: #BAE7FF;
$blue3: #91D5FF;
$blue4: #69C0FF;
$blue5: #1890FF;
$blue6: #0050B3;
$blue7: #003A8C;
//  火山色系列
$volcano1: #fff2e8;
$volcano2: #ffd8bf;
$volcano3: #ffbb96;
$volcano4: #ff9c6e;
$volcano5: #ff7a45;
$volcano6: #fa541c;
$volcano7: #d4380d;