// 1-6由浅变深
// 紫色系列
$purple1: #f9f0ff !global;
$purple2: #efdbff !global;
$purple3: #d3adf7 !global;
$purple4: #b37feb !global;
$purple5: #9254de !global;
$purple6: #722ed1 !global;
$purple7: #531dab !global;
// 蔚蓝色系列
$blue1: #E6F7FF !global;
$blue2: #BAE7FF !global;
$blue3: #91D5FF !global;
$blue4: #69C0FF !global;
$blue5: #1890FF !global;
$blue6: #0050B3 !global;
$blue7: #003A8C !global;
//  火山色系列
$volcano1: #fff2e8 !global;
$volcano2: #ffd8bf !global;
$volcano3: #ffbb96 !global;
$volcano4: #ff9c6e !global;
$volcano5: #ff7a45 !global;
$volcano6: #fa541c !global;
$volcano7: #d4380d !global;
// 红色系
$red1:#fa737c !global;
$red2: #fb5a65 !global;
$table-head-bgc: #f8f1ff;